- post ||= @post
- comment ||= @comment
= form_for [ post, comment ], validate: true, html: { id: "comment_form_#{ post.id }" } do |f|
  = f.error_messages
  %p.field
    = f.label :name, "name*"
    %br/
    = f.text_field :name, placeholder: "name*"
  %p.field
    = f.label :email, "email*"
    %br/
    = f.email_field :email, placeholder: "email address* (not shown)"
  %p.field
    = f.label :url, "URL"
    %br/
    = f.url_field :url, placeholder: "URL (share your website)"
  %p.field
    = f.label :body, "comments*"
    %br/
    = f.text_area :body, placeholder: "comments* (supports textile)"
    %br/
    * = required
  %p.actions
    = f.submit 'Post'
