%h1 Listing external links
%table#sortable_table
  %tr
    %th Title
    %th Url
    %th Description
    %th
    %th
    %th
  - @external_links.each do |link|
    %tr.page{ :id => "external_link_#{link.id}" }
      %td &dagger;drag&dagger;
      %td= link_to link.title, link.url, title: "View your #{link.title} page.", target: "_blank"
      %td= " . . . #{link.url}"
      %td= truncate(link.description, length: 32, omission: '...')
      - if admin_logged_in?
        %td= link_to 'Edit', edit_external_link_path(link)
        %td= link_to 'Destroy', external_link_path(link), confirm: 'Are you sure?', method: :delete
- if admin_logged_in?
  %br/
  = link_to 'New External link', new_external_link_path
  = links_sortable

