%h1 Listing pages
%table#sortable_table
  %tr
    %th Order
    %th Title
    %th Permalink
    %th Content
    %th
    %th
    %th
  - @pages.each do |page|
    %tr.page{ :id => "page_#{page.id}" }
      %td &dagger;drag&dagger;
      %td= link_to page.title, static_path(page.permalink), title: "View your #{page.title} page."
      %td= " . . . /static/#{page.permalink}"
      %td= truncate(page.content, length: 32, omission: '...')
      - if admin_logged_in?
        %td= link_to 'Edit', edit_static_path(page.permalink)
        %td= link_to 'Destroy', static_path(page.permalink), confirm: 'Are you sure?', method: :delete
- if admin_logged_in?
  %br/
  = link_to 'New Page', new_page_path
  = pages_sortable