= form_for @photo do |f|
  = f.error_messages

  %p.field
    = f.label :title
    = f.text_field :title
  %p.field
    = f.label :image
    = f.file_field :image
    = f.hidden_field :image_cache
  %p.actions
    = f.submit 'Save'
