= nested_form_for @post, validate: true do |f|
  = f.error_messages
  %fieldset
    %p.field
      = f.label :title, "Post Title"
      %br/
      = f.text_field :title
    %p.field
      = f.label :state
      %br/
      = f.collection_select :state, @post.state_transitions, :event, :human_to_name
    %p.field
      = f.label :published_at
      %br/
      = f.datetime_select :published_at

    - @post.photo_sections.rank(:position).each do |photo_section|
      = image_tag photo_section.photo.image.thumb.url if photo_section.photo

    = f.fields_for :photo_sections do |photo_section_form|
      %section.add_photo
        .drag_handle
          DRAG HERE
        / = render 'photo_section_fields', f: photo_section_form
        = photo_section_form.fields_for :photo, validate: true do |photo_form|
          / = render 'photo_fields', f: photo_form
          %p.field
            = photo_form.label :image
            %br/
            = photo_form.file_field :image
            = photo_form.hidden_field :image_cache
          %p.field
            = photo_form.label :title
            %br/
            = photo_form.text_field :title
            %br/
          = photo_form.link_to_remove "[-]"
        = photo_section_form.link_to_add "[+]", :photo, class: "add_photo_link"
        %p= photo_section_form.link_to_remove "[-] Remove this photo section."
    %p= f.link_to_add "[+] Add a photo section.", :photo_sections

    = f.fields_for :text_sections do |text_section_form|
      / = render 'text_section_fields', f: text_section_form
      %section.add_text
        .drag_handle
          DRAG HERE
        %p.field
          = text_section_form.label :body
          %br/
          = text_section_form.text_area :body, rows: 6
          %br/
          = text_section_form.link_to_remove "[-] Remove this text section."
    %p= f.link_to_add "[+] Add a text section.", :text_sections

    .actions
      = f.submit 'Post'

