%article.post
  %p.post_date
    - if object.published_at
      = object.published_at.strftime('%B %e, %Y')
    - else
      = object.created_at.strftime('%B %e, %Y')
  %header.post_header
    %h1.post_title= link_to object.title, object, title: "#{truncate(object.text_sections.rank(:position).first.body, length: 64, omission: '...') if object.text_sections.any?}", class: "post_title_link" if object.title
  #sortable
    - object.sections.rank(:position).each do |o|
      - if o.section_type == "photo"
        %section.post_image{ :id => "section_#{o.id}" }
          = image_tag o.photo.image.post.url, class: "post_section_image", title: "#{o.photo.title ||= o.photo.filename}", alt: "#{o.photo.title ||= o.photo.filname}" if o.photo
      - else
        %section.post_text{ :id => "section_#{o.id}" }
          :textile
            #{o.body if o.body}

- if admin_logged_in?
  = section_sortable