!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body
    - if flash[:notice] || flash[:alert]
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
    %header.site_header
      .site-logo
        = link_to "(auto)illume", root_path, title: "(auto)illume -- home", class: "logo_link"
      %nav.top_nav

    #container
      %section#left_column
        - if show_title?
          %h1= yield(:title)
        %p.site_description
          Hi there, I’m Laura. This is a description of what goes on at Illume, and how, if you read this you can be awesome. This could go on for maybe a sentence more. Or maybe there could be one more sentence! { read more }
        - if @posts
          %section.search
            = search_form_for @q do |f|
              = f.text_field :title_or_sections_body_or_sections_photo_title_cont, size: 22, placeholder: 'search'
              = f.submit "X"
        %nav.left_nav
          %ul.nav_links.pages
            - @pages.rank(:page_order).each do |page|
              %li.nav_link.page= link_to page.title.to_s.upcase, static_path(page.permalink), title: page.title, description: truncate(page.content, length: 64, omission: '...')
            - if admin_logged_in?
              %li.nav_link.page= link_to "( add a static page )", new_page_path, title: "You can add new static pages to the menu here."
              %li.nav_link.page= link_to "( manage static page )", pages_path, title: "You can manage static pages here."
            %br
          %ul.nav_links.external_links
            - @external_links.each do |link|
              %li.nav_link.external_link= link_to link.title.to_s.upcase, link.url, title: link.title, description: truncate(link.description, length: 64, omission: '. . .'), target: '_blank'
            - if admin_logged_in?
              %li.nav_link.page= link_to "( add n external link)", new_external_link_path, title: "You can add new external links to the menu here."
              %li.nav_link.page= link_to "( manage external links )", external_links_path, title: "You can manage external links here."

          - if admin_logged_in?
            %ul.nav_links.admin_nav_links
              %li.nav_link= link_to "New Post", new_post_path
              %li.nav_link= link_to "#{pluralize Post.drafts.count, 'Draft Post'} ", draft_posts_path
              %li.nav_link= link_to "#{pluralize Comment.unapproved.count, 'Pending Comment'}", comments_path
              %li.nav_link= link_to "logout ( #{ current_admin.username if current_admin.username} )", logout_path
      %section#right_column
        = yield

    %footer
      %nav#footer

  - if Rails.env.development?
    = render "layouts/debug"