= form_for @preview_post do |f|
  = f.error_messages
  %p.field
    = f.label :title, "Post Title"
    %br/
    = f.text_field :title
  %p.field
    = f.label :state
    %br/
    = f.collection_select :state, @preview_post.state_transitions, :event, :human_to_name
  %p.field
    = f.label :published_at
    %br/
    = f.datetime_select :published_at

  .actions
    = f.submit 'Save'
